body {
    margin: 0 ;
    padding: 0;
    font-family: Verdana;
    min-height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

li a {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
.similar-question {
    
    min-height: 50%;
    margin-top: 10%;
}

.mb-1 {
    margin-bottom: 1%;
}
.mb-5 {
    margin-bottom: 5%;
}
.pl-3 {
    padding-left: 3%
}
.pd-1 {
    padding: 5%;
}
.pr-10 {
    padding-right:10%;
}
.mb-5 {
    margin-bottom: 5%;
}
.mt-5 {
    margin-top: 5%;
}
.mt-3 {
    margin-top: 3%;
}

.mt-2 {
    margin-top: 2%;
}
.white {
    color: white;
}
.adjust-menu {
    padding: 10%;
    line-height:2rem;
}
.question {
    padding: 2%;
    line-height: 2rem;
}

.question-title {
    padding: 3%;
    line-height: 2.5rem;
}
.question-detail {
    padding: 3%;
    line-height: 2rem;
    
}
.question-stars {
    flex: 50%;
}
.answer-no {
    flex: 40%;
    margin-left: 5%;
    font-weight: bold;
    color: darkgrey;
}
.answer-now {
    flex: 40%;
    margin-left: 5%;
}
.tag-name {
    flex:60%;
    margin-left: 5%;
    
}
.code-snippet {
    padding: 3%;
     background-color: lightgrey; 
     border-radius: 15px;
     margin-top: 1%;
     margin-bottom: 1%;
     min-height: 20%;
}
.recent-questions {
    background-color:rgb(245, 245, 245); 
    border-radius: 23px; 
    padding: 5%;
    margin-top: 5%;
    min-height: 20%;
    font-weight: lighter;
    line-height: 1.7rem;
}
.name-of-commenter {
    font-weight: bold;
    line-height: 2rem; 
    font-size: 13pt;
}
.upvote-comment {
    flex: 50%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.downvote-comment {
    flex: 50%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.upvotes {
  flex: 15%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.downvotes {
flex: 15%;
margin-left: 5%;
margin-top: 3%;
margin-bottom: 3%;
}
.comments {
flex: 20%;
margin-left: 5%;
margin-top: 3%;
margin-bottom: 3%;
}
.read {
flex: 30%;
margin-left: 5%;
margin-bottom: 3%;
}

.comment-input-bar {
    flex: 70%
}
.comment-submit-button {
    flex: 30%;
}
.question-info {
    margin-top: 5%;
    text-align: right;
    margin-bottom: 5%;
}
.answer-number {
    margin-top:3%;
}
button {
    background-color: white;;
    color: blue;
    padding: 10%;
    border-radius: 20px;
    border: 1px solid blue;
    font-weight: bold;
    font-size: 12pt;
}
button[type= answer]{
   background-color: white;
   color: blue;
   padding: 7%;
   padding-left: 10%;
   padding-right: 10%;
}
button[type="load"]  {
    padding: 5%;
    width: 100%;
    font-weight: bold;
    font-size: 12pt;
}
button[type=comment] {
    background-color: white;
    color: blue;
    padding: 5%;
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 20%;
}
button[type=update] {
    width: 30%;
    padding: 2%;
}

button:hover {
    background-color: blue;
    color: white;
}
.thumbnail {
    border: 1px solid blue;
    border-radius: 12px;
    text-align: center;
    margin: auto;
    padding: 3%;
    font-size:13pt;
    font-weight: bold;
    background-color: lightgrey;
}
.container {
    display: flex;
   
}



.packet {
    width: 100%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.ml-1 {
    margin-left: 10%;
}

.mt-1 {
    margin-top: 10%;
}
.wt-5 {
    width: 50%;
}
.menu-header {
    border-bottom: 1px solid grey;
    padding: 2%;
    font-weight: bold;
    color:grey;
}

.menu {
    margin-top: 20%;
    margin-left: 10%;
}

.menu-body {
margin-left: 0;
padding: 0;
line-height: 2rem;
margin-top: 3%;
margin-bottom: 5%;
}
.main {
    width: 100%;
}

.footer {
    background-color: black;
     color: white;
      margin: auto;
       padding: 2%; 
       margin-top: 10%; 
       text-align: center;
       min-height: 30%;
        width: 100%
}

.blue {
    color: blue;
    display: inline;
}
.not-preferred {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}
.symbol {
    border: 1px solid blue;
    padding: 13px;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.resize {
    font-size: 18pt;
}
.question-section {
    flex: 70%;
    margin-left: 10%;
}
.similar-question-section {
    flex: 30%;
    margin-left: 10%;
}
.home-left {
    flex:  30%;
    margin-left: 10%;
}

.home-center {
    flex: 50%;
    margin-left: 10%;
}
.left-section {
    flex: 20%;
}

.right-section {
    flex: 20%;
}

.center {
    flex: 40%;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 500px;
    width: 100%;
    
}

.advert-card {
    width: auto;
    height: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

.question-card {
    width: 100%;
    min-height: 40%;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
}
.ask-question-card {
    width: 60%;
    min-height: 40%;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
}
.login-card {
    width: 35%;
    min-height: 40%;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%; 
}

.update-profile-card {
    width: 60%;
    min-height: 40%;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%; 
}
.answer-question-card {
    width: 45%;
    min-height: 40%;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
}
.ask-question-title {
    border: none;
    margin: 1%;
    font-size: 20pt;
    font-weight: bold;
    width: 70%;
    outline:0;
    border-bottom: 1px solid lightgrey;
}
.form-text-field {
    border: none;
    margin: 1%;
    font-size: 14pt;
    width: 90%;
    outline:0;
    color: grey;
    border-bottom: 1px solid lightgrey; 
}
.form-title {
    font-size : 14pt;
    font-weight:bold
}

.ask-question-text {
    width: 90%;
    min-height: 150px;
    margin-top:5%; 
    background-color: lightgrey;
    border-radius: 25px;
    border:none;
    outline:0;
    padding: 5%;
    font-size: 15pt;
}
.ask-question-code-snippet {
    border: none;
    margin: 1%;
    font-size: 18pt;
    font-weight: bold;
    width: 70%;
    outline:0;
    border-bottom: 1px solid lightgrey;
    padding-top:3%;
    
}
.question-view-card {
    width: 100%;
    min-height: 1%;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
    margin-left: 5%;
    padding: 2%;
}
.answer-number-title {
    padding-top:1%;
    border-bottom: 1px solid lightgrey; 
     padding-bottom: 3% ; 
     margin-right: 10%
}

.profile-page-pic-section {
    flex: 30%;
}
.profile-page-data-section {
    flex: 60%;
    flex-direction: column;
    width: 100%;
}
.profile-pic-section {
    flex: 20%;
}
.profile-details {
    flex: 60%;
    flex-direction: column;
    width: 100%;
}
.profile-name, .profile-portfolio {
    color: grey;
    padding: 3%;
}
.profile-name {
    margin-top: 5%;
}
.profile-stats {
    padding:  5%;
    color:grey;
    margin:auto;
    
    margin-left: 10%;
   
}
.stats-display {
    border: 1px solid blue;
     padding: 5%;
     border-radius: 50%;
    
}
.comment-no-display {
    color: darkgrey;
     margin-left: 3%;
}

.comment-code-snippet {
    border: 1px solid grey;
     border-radius:12px;
      padding: 3%;
       margin-top: 5%;
}
.adjust {
    margin-left: 0;
    margin-bottom: 2%;
}
.adjust-comments {
    margin-top: 4%;
}
.comment-box {
    margin-left: 5%;
    margin-top: 2%;
}
.comment-input {
    width: 100%;
    padding: 3%;
    border-radius: 12px;
}
.space-comments {
    margin-top: 2.5%;
}
.user-icon {
    padding: 15%;
    border: 1px solid blue;
     border-radius: 50%;
     font-size: 18pt;
}
.user-icon-profile {
    padding: 15%;
    border: 1px solid blue;
    border-radius: 50%;
    font-size: 60pt;
}
.user-icon-div {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.advert {
    overflow: hidden;
    height: 400px;
    width: 600px;
    margin: 0 auto;
}

.advert-slide {
    float: left;
    width: 600px;
    height: 400px;
}

.advert-gallery {
    width : 500%;
    animation: slide 15s ease infinite;
}

.slide-a {
    background: url('../images/code.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-b {
    background: url('../images/raspberry.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-c {
    background: url('../images/rocket1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-d {
    background: url('../images/rocket2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-e {
    background: url('../images/questions.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.advert-text {
    text-align: center;
    font-size: 18pt;
    color: white;
    font-weight: bold;
    padding: 3%;
    padding-top: 5%;
    line-height: 2.5rem;
    text-shadow: 2px 3px blue;
}



@-webkit-keyframes slide {
    20% {margin-left: 0;}
    30% {margin-left: -600px;}
    50% {margin-left: -600px;}
    60% {margin-left: -1200px;}
    70% {margin-left: -1200px;}
    75% {margin-left: -1800px;}
    80% {margin-left: -1800px;}
    85% {margin-left: -2400px;}
    95% {margin-left: -2400px;}
  }

@media(max-width: 700px) {
  .home-left {
      flex:100%;
      margin:0 auto;
  }

  .ask-question-code-snippet {
      width: 90%;
      margin-bottom:5%;
  }

  .ask-question-title {
    width: 90%;
}
  
    .ask-question-card {
        width: 100%;
        margin: 3%;
        padding:1%;
    }
    
    .login-card  {
        width: 100%;
        margin: 3%;
        padding:1%;
    }
    .update-profile-card  {
        width: 100%;
        margin: 3%;
        padding:1%;
    }
    .answer-question-card {
        width: 100%;
        margin: 3%;
        padding:1%;
    }
    
  .home-center {
      flex: 100%;
      
  }
.similar-question {
    
    min-height: 50%;
    margin-top: 10%;
    margin-left: 10%
}
    .question-section {
        flex: 100%;
        margin: auto;
    }
    .similar-question-section {
        flex: 100%;
        margin:auto;
    }
    .question-view-card {
        margin-left: 2%;
    }
.profile-name {
    margin-top:25%;
}
.profile-stats {
    margin: auto;
    margin-top: 5%;
}

.advert-card {
    width: 300px;
}

.advert {
    width: 100% ;
}

.advert-slide {
    width: 300px;
    font-size: 12pt;
}

.advert-gallery {
    width: 500%;
}
.container {
    flex-wrap: wrap;
    flex-direction: column;
}
.tag-name {
    margin-top: 10%;
}
.menu {
    width: 100%;
}

button {
    padding:4%;
}
button[type=comment] {
    margin-top: 4%;
}
button[type=update] {
    width: 100%;
    padding: 3%;
    margin-bottom:5%;
}
.read {
    margin-bottom: 5%;
}
@-webkit-keyframes slide {
    20% {margin-left: 0;}
    30% {margin-left: -100%;}
    50% {margin-left: -100%;}
    60% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    80% {margin-left: -300%;}
    85% {margin-left: -400%;}
    95% {margin-left: -400%;}
  }
}